<style>
    .image-gallery {overflow: auto; margin-left: -1%!important;}
    .image-gallery li {float: left; display: block; margin: 0 0 1% 1%; width: 19%;}
    .image-gallery li a {text-align: center; text-decoration: none!important; color: #777;}
    .image-gallery li a span {display: block; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; padding: 3px 0;}
    .image-gallery li a img {width: 100%; display: block;}
</style>

<ul class="image-gallery">

    <li><a href="https://gracell00l.github.io/prtflo/about/" title="Grace Yixuan Lin 林祎萱"><img src="//images.weserv.nl/?url=https://raw.githubusercontent.com/KeanMGC/2021fall3yr-studio/25ddd2c527b444af96eb69da5728de851d10b922/MME.jpg&w=300&h=300&output=jpg&q=50&fit=cover" alt="Grace Yixuan Lin 林祎萱" title="Grace Yixuan Lin 林祎萱" /><span>Grace Yixuan Lin 林祎萱</span></a></li>

    <li><a href="https://sunbaiqianqian.github.io/SunBaiqianqian-Portfolio/about/" title="Sugar (Sun Baiqianqian) 孙柏芊芊"><img src="//images.weserv.nl/?url=https://github.com/SunBaiqianqian/SunBaiqianqian-Portfolio/blob/master/assets/selfie.jpg?raw=true&w=300&h=300&output=jpg&q=50&fit=cover" alt="Sugar (Sun Baiqianqian) 孙柏芊芊" title="Sugar (Sun Baiqianqian) 孙柏芊芊" /><span>Sugar (Sun Baiqianqian) 孙柏芊芊</span></a></li>

    <li><a href="https://kyle7914.github.io/2021Fall-studio/about/" title="Kyle pinyin and Chinese"><img src="//images.weserv.nl/?url=https://raw.githubusercontent.com/KeanMGC/protospace/main/index/woodshop.jpg&w=300&h=300&output=jpg&q=50&fit=cover" alt="Kyle pinyin and Chinese" title="Kyle pinyin and Chinese" /><span>Kyle pinyin and Chinese</span></a></li>

    <li><a href="" title="Zheng Weihan"><img src="//images.weserv.nl/?url=https://raw.githubusercontent.com/KeanMGC/protospace/main/index/woodshop.jpg&w=300&h=300&output=jpg&q=50&fit=cover" alt="Zheng Weihan" title="Zheng Weihan" /><span>Zheng Weihan</span></a></li>

    <li><a href="https://nancyuz.github.io/Nancy/about/" title="Nancy pinyin and Chinese"><img src="//images.weserv.nl/?url=https://raw.githubusercontent.com/KeanMGC/protospace/main/index/woodshop.jpg&w=300&h=300&output=jpg&q=50&fit=cover" alt="Nancy pinyin and Chinese" title="Nancy pinyin and Chinese" /><span>Nancy pinyin and Chinese</span></a></li>

    <li><a href="https://shipley-xinyuwang.github.io/3yr-Studio-Flexibility/about/" title="Shipley pinyin and Chinese"><img src="//images.weserv.nl/?url=https://raw.githubusercontent.com/KeanMGC/protospace/main/index/woodshop.jpg&w=300&h=300&output=jpg&q=50&fit=cover" alt="Shipley pinyin and Chinese" title="Shipley pinyin and Chinese" /><span>Shipley pinyin and Chinese</span></a></li>

    <li><a href="https://yawenzh.github.io/YZmar/about/" title="Martha Yawen Zheng"><img src="//images.weserv.nl/?url=https://user-images.githubusercontent.com/90550813/133220052-04131d39-25b4-437b-bc73-0eb06a59d665.jpg&w=300&h=300&output=jpg&q=50&fit=cover" alt="Martha pinyin and Chinese" title="Martha pinyin and Chinese" /><span>Martha pinyin and Chinese</span></a></li>
  
    <li><a href="vickeyxxxx.github.io/portfolio/about/" title="Vickey Siqi Xiong"><img src="//images.weserv.nl/?url=YOUR PHOTO ADDRESS&w=300&h=300&output=jpg&q=50&fit=cover" alt="NAME pinyin and Chinese" title="NAME pinyin and Chinese" /><span>NAME pinyin and Chinese</span></a></li>

<li><a href="vickeyxxxx.github.io/portfolio/about/" title="Vickey Siqi Xiong"><img src="//images.weserv.nl/?url=YOUR PHOTO ADDRESS&w=300&h=300&output=jpg&q=50&fit=cover" alt="NAME pinyin and Chinese" title="NAME pinyin and Chinese" /><span>NAME pinyin and Chinese</span></a></li>
  
   <li><a href="https://wuhaozhuo.github.io/Anita-Haozhuo-Wu/" title="Anita (Haozhuo Wu) 吴昊卓"><img src="//images.weserv.nl/?url=https://github.com/WUHAOZHUO/Anita-Haozhuo-Wu/blob/master/assets/selfie.jpg?raw=true&w=300&h=300&output=jpg&q=50&fit=cover" alt="Anita (Haozhuo Wu) 吴昊卓" title="Anita (Haozhuo Wu) 吴昊卓" /><span>Anita (Haozhuo Wu) 吴昊卓</span></a></li>
   
   <li><a href="https://vvvvvvvink.github.io/prtflio/" title="Vink Jiawei Dou"><img src="//images.weserv.nl/?url=YOUR PHOTO ADDRESS&w=300&h=300&output=jpg&q=50&fit=cover" alt="Jiawei Dou 窦嘉玮" title="Jiawei Dou 窦嘉玮" /><span>Jiawei Dou 窦嘉玮</span></a></li>
  
</ul>
